body {
  background-color: peru;
}

.container {
  height: 100vh;
  width: 100vw;
}

img {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 0;
  transition: all 0.16s linear;
}

.face-down {
  transform: rotate(90deg);
}

.face-back {
  transform: rotate(180deg);
}

.face-up {
  transform: rotate(270deg);
}
